In [1]:
import os
print(os.getcwd())

/Users/macku/Desktop/SEP_6DA3_Retail_Access_vs_Social_Cost/notebooks/data_ingestion_cleaning

In [2]:
import pandas as pd

In [3]:
sales_df = pd.read_csv("../../data/01_raw_data/02_cannabis_sales/cannabis_sales.csv")

In [4]:
sales_df

,REF_DATE,GEO,DGUID,Value,Type of cannabis,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2021/2022,Canada,2021A000011124,Value of sales,Total cannabis products,Dollars,81,thousands,3,v1490436660,1.1.1,4027928.0,NaN,NaN,NaN,0
1,2021/2022,Canada,2021A000011124,Value of sales,Dried cannabis,Dollars,81,thousands,3,v1490436647,1.1.2,2861838.0,NaN,NaN,NaN,0
2,2021/2022,Canada,2021A000011124,Value of sales,Inhaled cannabis extracts,Dollars,81,thousands,3,v1490436648,1.1.3,729178.0,NaN,NaN,NaN,0
3,2021/2022,Canada,2021A000011124,Value of sales,Ingested cannabis extracts,Dollars,81,thousands,3,v1490436649,1.1.4,158283.0,NaN,NaN,NaN,0
4,2021/2022,Canada,2021A000011124,Value of sales,Solid cannabis edibles,Dollars,81,thousands,3,v1490436650,1.1.5,166336.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,2023/2024,Nunavut,2021A000262,Value of sales per capita,Inhaled cannabis extracts,Dollars,81,units,0,v1490436838,14.3.3,NaN,x,NaN,NaN,0
584,2023/2024,Nunavut,2021A000262,Value of sales per capita,Ingested cannabis extracts,Dollars,81,units,0,v1490436839,14.3.4,NaN,x,NaN,NaN,0
585,2023/2024,Nunavut,2021A000262,Value of sales per capita,Solid cannabis edibles,Dollars,81,units,0,v1490436840,14.3.5,NaN,x,NaN,NaN,0
586,2023/2024,Nunavut,2021A000262,Value of sales per capita,Cannabis beverages,Dollars,81,units,0,v1490436841,14.3.6,NaN,x,NaN,NaN,0
587,2023/2024,Nunavut,2021A000262,Value of sales per capita,"Topicals, seeds, and other cannabis products",Dollars,81,units,0,v1490436842,14.3.7,NaN,x,NaN,NaN,0

In [5]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588 entries, 0 to 587
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REF_DATE          588 non-null    object
 1   GEO               588 non-null    object
 2   DGUID             588 non-null    object
 3   Value             588 non-null    object
 4   Type of cannabis  588 non-null    object
 5   UOM               588 non-null    object
 6   UOM_ID            588 non-null    int64
 7   SCALAR_FACTOR     588 non-null    object
 8   SCALAR_ID         588 non-null    int64
 9   VECTOR            588 non-null    object
 10  COORDINATE        588 non-null    object
 11  VALUE             502 non-null    float64
 12  STATUS            86 non-null     object
 13  SYMBOL            0 non-null      float64
 14  TERMINATED        0 non-null      float64
 15  DECIMALS          588 non-null    int64
dtypes: float64(3), int64(3), object(10)
memory usage: 73.6+ KB

In [6]:
sales_df.shape

(588, 16)

In [7]:
sales_df.describe()

       UOM_ID   SCALAR_ID         VALUE  SYMBOL  TERMINATED  DECIMALS
count   588.0  588.000000  5.020000e+02     0.0         0.0     588.0
mean     81.0    1.500000  1.106078e+05     NaN         NaN       0.0
std       0.0    1.501277  4.755234e+05     NaN         NaN       0.0
min      81.0    0.000000  0.000000e+00     NaN         NaN       0.0
25%      81.0    0.000000  8.000000e+00     NaN         NaN       0.0
50%      81.0    1.500000  2.040000e+02     NaN         NaN       0.0
75%      81.0    3.000000  2.037350e+04     NaN         NaN       0.0
max      81.0    3.000000  5.203868e+06     NaN         NaN       0.0

In [8]:
columns_to_keep = [
    "REF_DATE",
    "GEO",
    "DGUID",
    "Type of cannabis",
    "UOM",
    "UOM_ID",
    "SCALAR_FACTOR",
    "SCALAR_ID",
    "VALUE"
]

sales_subset_df = sales_df[columns_to_keep]

In [9]:
sales_subset_df

,REF_DATE,GEO,DGUID,Type of cannabis,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VALUE
0,2021/2022,Canada,2021A000011124,Total cannabis products,Dollars,81,thousands,3,4027928.0
1,2021/2022,Canada,2021A000011124,Dried cannabis,Dollars,81,thousands,3,2861838.0
2,2021/2022,Canada,2021A000011124,Inhaled cannabis extracts,Dollars,81,thousands,3,729178.0
3,2021/2022,Canada,2021A000011124,Ingested cannabis extracts,Dollars,81,thousands,3,158283.0
4,2021/2022,Canada,2021A000011124,Solid cannabis edibles,Dollars,81,thousands,3,166336.0
...,...,...,...,...,...,...,...,...,...
583,2023/2024,Nunavut,2021A000262,Inhaled cannabis extracts,Dollars,81,units,0,NaN
584,2023/2024,Nunavut,2021A000262,Ingested cannabis extracts,Dollars,81,units,0,NaN
585,2023/2024,Nunavut,2021A000262,Solid cannabis edibles,Dollars,81,units,0,NaN
586,2023/2024,Nunavut,2021A000262,Cannabis beverages,Dollars,81,units,0,NaN
587,2023/2024,Nunavut,2021A000262,"Topicals, seeds, and other cannabis products",Dollars,81,units,0,NaN

In [10]:
sales_subset_df = sales_df[columns_to_keep].copy()

In [11]:
sales_subset_df

,REF_DATE,GEO,DGUID,Type of cannabis,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VALUE
0,2021/2022,Canada,2021A000011124,Total cannabis products,Dollars,81,thousands,3,4027928.0
1,2021/2022,Canada,2021A000011124,Dried cannabis,Dollars,81,thousands,3,2861838.0
2,2021/2022,Canada,2021A000011124,Inhaled cannabis extracts,Dollars,81,thousands,3,729178.0
3,2021/2022,Canada,2021A000011124,Ingested cannabis extracts,Dollars,81,thousands,3,158283.0
4,2021/2022,Canada,2021A000011124,Solid cannabis edibles,Dollars,81,thousands,3,166336.0
...,...,...,...,...,...,...,...,...,...
583,2023/2024,Nunavut,2021A000262,Inhaled cannabis extracts,Dollars,81,units,0,NaN
584,2023/2024,Nunavut,2021A000262,Ingested cannabis extracts,Dollars,81,units,0,NaN
585,2023/2024,Nunavut,2021A000262,Solid cannabis edibles,Dollars,81,units,0,NaN
586,2023/2024,Nunavut,2021A000262,Cannabis beverages,Dollars,81,units,0,NaN
587,2023/2024,Nunavut,2021A000262,"Topicals, seeds, and other cannabis products",Dollars,81,units,0,NaN

In [12]:
sales_subset_df['Actual_Sales_CAD'] = sales_subset_df['VALUE'] * 1000

In [13]:
reported_total_sales = sales_subset_df.loc[sales_subset_df['Type of cannabis'] == 'Total cannabis products', 'Actual_Sales_CAD'].iloc[0]

In [14]:
component_sales_df = sales_subset_df[sales_subset_df['Type of cannabis'] != 'Total cannabis products'].copy()
sum_of_component_sales = component_sales_df['Actual_Sales_CAD'].sum()

In [15]:
component_sales_df['Sales_Share_%'] = (component_sales_df['Actual_Sales_CAD'] / reported_total_sales) * 100

In [16]:
# 5. Print Summary of Calculations
print("\n" + "-"*40)
print("--- Sales Calculation Summary (2021/2022, Canada) ---")
print(f"Reported Total Sales (CAD): {reported_total_sales:,.0f}")
print(f"Sum of Listed Component Sales (CAD): {sum_of_component_sales:,.0f}")
print(f"Difference (CAD): {reported_total_sales - sum_of_component_sales:,.0f}")
print("-" * 40 + "\n")

----------------------------------------
--- Sales Calculation Summary (2021/2022, Canada) ---
Reported Total Sales (CAD): 4,027,928,000
Sum of Listed Component Sales (CAD): 27,762,559,000
Difference (CAD): -23,734,631,000
----------------------------------------

In [17]:
sales_subset_df

,REF_DATE,GEO,DGUID,Type of cannabis,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VALUE,Actual_Sales_CAD
0,2021/2022,Canada,2021A000011124,Total cannabis products,Dollars,81,thousands,3,4027928.0,4.027928e+09
1,2021/2022,Canada,2021A000011124,Dried cannabis,Dollars,81,thousands,3,2861838.0,2.861838e+09
2,2021/2022,Canada,2021A000011124,Inhaled cannabis extracts,Dollars,81,thousands,3,729178.0,7.291780e+08
3,2021/2022,Canada,2021A000011124,Ingested cannabis extracts,Dollars,81,thousands,3,158283.0,1.582830e+08
4,2021/2022,Canada,2021A000011124,Solid cannabis edibles,Dollars,81,thousands,3,166336.0,1.663360e+08
...,...,...,...,...,...,...,...,...,...,...
583,2023/2024,Nunavut,2021A000262,Inhaled cannabis extracts,Dollars,81,units,0,NaN,NaN
584,2023/2024,Nunavut,2021A000262,Ingested cannabis extracts,Dollars,81,units,0,NaN,NaN
585,2023/2024,Nunavut,2021A000262,Solid cannabis edibles,Dollars,81,units,0,NaN,NaN
586,2023/2024,Nunavut,2021A000262,Cannabis beverages,Dollars,81,units,0,NaN,NaN
587,2023/2024,Nunavut,2021A000262,"Topicals, seeds, and other cannabis products",Dollars,81,units,0,NaN,NaN

In [18]:
sales_subset_df.drop('Actual_Sales_CAD', axis=1, inplace=True)

In [19]:
sales_subset_df.to_csv('../../data/02_processed_data/02_cannabis_sales/sales_data.csv', index=False)